version: '3.8'

services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ny_taxi
    volumes:
      - ny_taxi_postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build:
      context: docker_and_terraform/pipeline
      dockerfile: Dockerfile
    network_mode: host
    depends_on:
      - db

volumes:
  ny_taxi_postgres_data: